<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:name="com.example.daejeonpass.MyApplication"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/appicon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/appicon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DaejeonPass"
        tools:targetApi="31">

        <activity
            android:name="com.example.daejeonpass.MainActivity"
            android:exported="true" />

        <activity
            android:name="com.example.daejeonpass.LoginActivity"
            android:exported="true"
            android:theme="@style/Theme.SplashAppCompat"/>

        <activity
            android:name="com.example.daejeonpass.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.SplashAppCompat">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.daejeonpass.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>